" .ideavimrc is a configuration file for the IdeaVim plugin. It uses
" the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set scrolloff=5
set incsearch
set hlsearch
set ignorecase
set smartcase
set relativenumber number
set wrap

" Plugin configurations
set commentary
set surround
set multiple-cursors
set ReplaceWithRegister
set exchange
set which-key
set timeoutlen=5000

" Set <leader> to <space>
let mapleader = " "

" --- Enable IdeaVim plugins ---
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
Plug 'unblevable/quick-scope'
Plug 'tpope/vim-surround'
Plug 'justinmk/vim-sneak'

" WhichKey plugin configuration
let g:WhichKey_ShowVimActions = "true"

" --- General key mappings ---
" Clear search highlights
nmap <Esc> :noh <Cr>
nmap <C-l> :noh <Cr>

nmap <CR> :

" System clipboard
vmap <leader>y :action EditorCopy <CR>
nmap <leader>y :action EditorCopy <CR>
nmap <leader>p "+p
nmap <leader>P :registers <CR>
vmap <leader>p "+p
vmap <leader>P :registers<CR>
nmap <leader>v :action $SelectAll <CR>

" Reformat code
nnoremap == :action ReformatCode <CR>
vnoremap == :action ReformatCode <CR>

" Exit insert mode
imap jj <Esc>
imap jk <Esc>

nmap <leader>o o<Esc>
nmap <leader>O O<Esc>
nmap <leader>; m`A;<Esc>``

" --- Window management ---
nnoremap <leader>ww :action HideAllWindows <CR>
nnoremap <c-h> <c-w>h
nnoremap <Tab> <c-w>w
nnoremap <leader>qq :action CloseEditor<cr>
nmap <C-w>= <Action>(Unsplit)
nmap <C-w>q :q<cr>
nmap <C-S-j> <Action>(StretchSplitToBottom)
nmap <C-S-h> <Action>(StretchSplitToLeft)
nmap <C-S-l> <Action>(StretchSplitToRight)
nmap <C-S-k> <Action>(StretchSplitToTop)


nmap <leader>1 :action GoToTab1<CR>
nmap <leader>2 :action GoToTab2<CR>
nmap <leader>3 :action GoToTab3<CR>
nmap <leader>4 :action GoToTab4<CR>
nmap <leader>5 :action GoToTab5<CR>
nmap <leader>6 :action GoToTab6<CR>
nmap <leader>7 :action GoToTab7<CR>
nmap <leader>8 :action GoToTab8<CR>
nmap <leader>9 :action GoToTab9<CR>


" --- TODOs ---
nnoremap <leader>tt :action ActivateTODOToolWindow<CR>

" --- Font size ---
nnoremap <leader>+ :action EditorIncreaseFontSize<cr>
nnoremap <leader>_ :action EditorDecreaseFontSize<cr>

" --- Commenting ---
noremap gcc :action CommentByLineComment<CR>
noremap Gcc :action CommentByBlockComment<CR>

" --- Searching and navigation ---
noremap <leader>l :action Find<CR>
noremap <leader><leader> :action RecentFiles<CR>
nnoremap <leader>ff :action GotoFile <CR>
nmap <leader>G :action FindInPath<CR>
vmap <leader>G :action FindInPath<CR>
nnoremap '' :action Switcher <CR><CR>
noremap ,b :action RecentFiles<CR>
nnoremap ,c :action GotoClass <CR>
nnoremap U :action FindUsages <CR>
vnoremap U :action FindUsages <CR>


" --- File tre---
map <leader>e :NERDTree<CR>

" --- Error navigation ---
nmap [e :action GotoPreviousError<Cr>
nmap ]e :action GotoNextError<Cr>
nmap <leader>xx :action ActivateProblemsViewToolWindow<CR>

" --- LSP actions ---
nnoremap gj :action MethodDown <CR>
nnoremap gk :action MethodUp <CR>
nnoremap gs :action GotoSuperMethod <CR>
nnoremap gi :action GotoImplementation <CR>
nnoremap g, :action JumpToLastChange <CR>
nnoremap g. :action JumpToNextChange <CR>
nnoremap gd :action GotoDeclaration <CR>
nnoremap gr :action RecentFiles <CR>
vnoremap <leader>gc :action GotoClass <CR>
nmap K :action ShowHoverInfo<CR>


" --- Intellij Actions ---
nnoremap <leader>cr :action RenameElement <CR>
nnoremap <leader>aa :action GotoAction <CR>
nnoremap <leader>ds :action GotoSymbol <CR>
nmap <A-S> :action Run <CR>


" --- Harpoon mappings ---
nmap <leader>f<space> :action ShowHarpoon<cr>
nmap <leader>fa :action AddToHarpoon<cr>

nmap <leader>fj :action GotoHarpoon1<cr>
nmap <leader>fk :action GotoHarpoon2<cr>
nmap <leader>fl :action GotoHarpoon3<cr>
nmap <leader>f; :action GotoHarpoon4<cr>

