body {
    font-family: 'Kode Mono', sans-serif;
    background-color: #1a1e23;
    color: #61ff8b;
}

.main-title {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.navbar {
    display: flex;
    border-bottom: 2px solid #a67db8;
    padding: 0;
    margin-left: -1vh;
    margin-right: -1vh;
}

.navbar__link {
    text-decoration: none;
    color: #a67db8;
    margin-left: 8vh;
    font-weight: 600;
    font-size: 1.1em;
    padding: 0.5em;
    transition: all 0.5s ease;
}

.navbar__link:hover {
    background-color: #a67db8;
    color: #1a1e23;
    border-color: #61ff8b;
    cursor: pointer;
}

.clock__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 2vh;
    border: 2px solid #a67db8;
    font-size: 2em;
    border-radius: 5px;
    max-width: fit-content;
    max-height: fit-content;
}

.clock__title {
    display: flex;
    justify-content: center;
    color: #dce1a5;
}

.clock__separator {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.countries {
    display: flex;
    justify-content: center;
}

.countries__label {
    font-size: 1.5em;
}

.countries__option {
    background-color: #dce1a5;
}







.buttons-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #61ff8b;
    color: #1a1e23;
    border-color: #a67db8;
    font-family: 'Kode Mono';
    font-weight: 900;
    font-size: 1em;
    width: 8em;
    border-radius: 5px;
    padding: 0.5em;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    margin: 1em;
}

.button:hover {
    background-color: #a67db8;
    color: #ffffff;
    border-color: #61ff8b;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .main-title {
        font-size: 3em;
    }

    .clock__container {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2em;
        padding: 4vh;
    }

    .button {
        font-size: 1.5em;
    }
}