body {
    padding: 2vh;
    font-family: 'Kode Mono', sans-serif;
    background-color: #1a1e23;
    color: #61ff8b;
}

.main-title {
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.time-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 6vh;
    border: 2px solid #a67db8;
    border-radius: 5px;
    max-width: fit-content;
    max-height: fit-content;
}

.time-container__separator {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#buttons-container {
    display: flex;
    justify-content: center;
}

button {
    background-color: #61ff8b;
    color: #1a1e23;
    border-color: #a67db8;
    font-family: 'Kode Mono';
    font-weight: 900;
    font-size: 1em;
    width: 8em;
    border-radius: 5px;
    padding: 0.5em;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    margin: 1em;
}

button:hover {
    background-color: #a67db8;
    color: #ffffff;
    border-color: #61ff8b;
    cursor: pointer;
}