Backups/
blob_storage/
Cache/
CachedData.
CachedExtensionVSIXs/
CachedProfilesData/
Code Cache'/
Cookies
Cookies-journal
Crashpad/
DawnGraphiteCache/
DawnWebGPUCache/
Dictionaries/
GPUCache/
languagepacks.json
Local Storage'/
logs/
machineid
Network Persistent State'
Preferences
Session Storage'/
Shared Dictionary'/
SharedStorage
TransportSecurity
Trust Tokens'
Trust Tokens-journal'
User
# En ~/.dotfiles/vscode/.gitignore
CachedData/
Code Cache/
Local Storage/
Service Worker/
Session Storage/
Shared Dictionary/
Trust Tokens*
Network Persistent State
WebStorage/
