[Desktop Entry]
Name=Calendar
Comment=Access Gmail via Brave Browser
Exec=brave-browser --app=https://calendar.google.com
#Exec=/opt/firefox/firefox --new-window=https://calendar.google.com
Icon=~/.local/share/applications/icons/calendar.png
Terminal=false
Type=Application
Categories=Internet;Email;
