[Desktop Entry]
Name=ProtonMail
Comment=Access ProtonMail via Brave Browser
Exec=/opt/firefox/firefox --new-window=https://mail.protonmail.com
Icon=~/.local/share/applications/icons/proton.png
Terminal=false
Type=Application
Categories=Internet;Email;
