[Desktop Entry]
Name=ProtonMail
Comment=Access ProtonMail via Brave Browser
Exec=brave-browser --app=https://mail.protonmail.com
Icon=~/.local/share/applications/icons/proton.png
Terminal=false
Type=Application
Categories=Internet;Email;
